[user]
user = "r-gregor"
email = "gredelonghi@gmail.com"

# 20240602
# from https://euroquis.nl//blabla/2024/06/01/git.html
[alias]
	flog = log --name-status
	glog = log --oneline --decorate --graph

